{% extends "base.html" %}
{% block headtitle %}{{title}} | {{ block.super }}{% endblock headtitle %}
{% block mainpadding %} {% endblock mainpadding %}
{% block header %}
<header class="page-header">
    <h1><a href="{{ obj.get_absolute_url }}">{{ instance.First_Name }} {{ instance.Last_Name }}</a></h1>
    <div class="pag-count" id="group-dir-count-top">
        Created: {{instance.timestamp }} - Updated: {{ instance.updated }} by: {{instance.Updated_By}}
    </div>
    <h2>Outreach Volunteer: {{ instance.Mentor_Assigned }}</h2>
    <div class="fivecol left">
    <p>
        E-mail: {{ instance.Email }}<br />
        Preferred Phone: {{ instance.Preferred_Phone }}<br />
        Home Phone: {{ instance.Home_Number }}<br />
        Mobile Phone: {{ instance.Mobile_Phone }}<br />
        Business Phone: {{ instance.Business_Number }}<br />
        Address: {{ instance.Mailing_Address_Line_1 }}<br />
        Address 2: {{ instance.Mailing_Address_Line_2 }}<br />
        Address 3: {{ instance.Mailing_Address_Line_3 }}<br />
        City, State, Zip: {{ instance.City }}, {{ instance.State }} {{ instance.Zip }}<br />
        Employer: {{instance.Employer }}<br />
    </p>
    </div>
    <div class="fivecol right">
    <p>
        Chapter: {{ instance.Chapter }}<br />
        Region: {{ instance.Region }}<br />
        CRM Record ID: {{ obj.CRM_Record_ID }}<br />
        Child with T1D: {{  instance.Child_T1D_name }}<br />
        Gender: {{ instance.Child_Gender }}<br />
        Child DOB: {{ instance.Childs_DOB }}<br />
        Diagnosis Date: {{ instance.Diagnosis_Date }}<br />
        Diagnosed at: {{ instance.Hospital }}/{{ instance.Endo }}<br />
        School/Grade: {{ instance.School }}/{{ instance.Grade }}
    </p>
    </div>
    <div class="tencol">
    <p>
       <strong> Notes:<br /> </strong>
        {{ instance.Notes }}
    </p>
    <p>
        <a href="edit/" class="button">Edit</a>
    </p>

	<!--<p class="cta">test</p>-->
    </div>
</header>
{% endblock header %}

{% block title %}

{% endblock title %}
{% block content %}
    <H1>{{title}}</H1>
    <div id="groups-dir-list" class="groups dir-list" style="width:100%">
        <!--<form method='GET' action=''>
            <input type='text' name='q' placeholder='Search Activities' />
            <input type='submit' value='search' />
        </form>-->
        <div id="pag-top" class="pagination">
            <div class="pag-count" id="group-dir-count-top"></div>
            <div class="pagination-links" id="group-dir-pag-top"></div>
        </div>
        <ul id="groups-list" class="item-list" >
            {% for obj in instance_log %}
            <li>
                <div class="item">
                    <a href="/activities/{{obj.id}}">
                    <div class="item-title">{{ obj.Log_Method }} on {{ obj.Activity_Date }} by {{ obj.Log_User }}</div>
                    </a>
                    <div class="item-meta"><span class="activity">{{ obj.Log_Chapter }}</span></div>
                    <div class="item-desc">Notes: {{ obj.Log_Notes }}</div>
                </div>
                <div class="action">
                    <div class="meta">
                        {{ obj.Log_User }} / {{ obj.Activity_Date }}
                    </div>
                </div>
                <div class="clear"></div>
            </li>
            {% endfor %}
        </ul>
        <div id="pag-bottom" class="pagination">
           <!-- <div class="pag-count" id="group-dir-count-bottom"></div>
            <div class="pagination-links" id="group-dir-pag-bottom">
                <span class='page-numbers current'>1</span>
            </div>-->
        </div>
    </div><!-- #groups-dir-list -->
{% endblock content %}
