{% extends "base.html" %}
{% block headtitle %}{{title}} | {{ block.super }}{% endblock headtitle %}

{% block title %}
    <div id="group-dir-search" class="dir-search" role="search">
        <h1 class="page-title">
            {{title}}
        </h1>		
    </div><!-- #group-dir-search -->
{% endblock title %}
{% block extrastyle %}<link rel="stylesheet" type="text/css" href="admin/css/forms.css" />{% endblock extrastyle %}
{% block content %}
    <H1>{{title}}</H1>
    <div id="groups-dir-list" class="groups dir-list">
        <form method="post">{% csrf_token %}
            {% if form.errors %}
                <p class="errornote">
                    {% if form.errors.items|length == 1 %}Please correct the error below."{% else %}"Please correct the errors below."{% endif %}
                </p>
            {% endif %}
            <p>"Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly."</p>
            <ul id="groups-list" class="item-list" >
                <li>
                    <fieldset class="module aligned wide">
                        <div class="form-row">
                            {{ form.old_password.errors }}
                            {{ form.old_password.label_tag }} {{ form.old_password }}
                        </div>


                        <div class="form-row">
                            {{ form.new_password1.errors }}
                            {{ form.new_password1.label_tag }} {{ form.new_password1 }}
                            {% if form.new_password1.help_text %}
                            {% endif %}
                        </div>

                        <div class="form-row">
                        {{ form.new_password2.errors }}
                            {{ form.new_password2.label_tag }} {{ form.new_password2 }}
                            {% if form.new_password2.help_text %}
                            <!--<p class="help">{{ form.new_password2.help_text|safe }}</p>-->
                            {% endif %}
                        </div>

                    </fieldset>

                    <div class="submit-row">
                        <input type="submit" value="Change my password" class="default" />
                    </div>
                </li>
            </ul>
            <script type="text/javascript">document.getElementById("id_old_password").focus();</script>
        </form>
    </div><!-- #groups-dir-list -->

{% endblock %}
